In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
job_info_file = '../files/slurm_jobinfo.csv'
job_info_data = pd.read_csv(job_info_file, header=None, low_memory=False)
job_info_data.columns = job_info_data.iloc[0]
job_info_data = job_info_data[1:]

In [4]:
job_info_data = job_info_data.drop(columns=['JobName', 'GroupID', 'MCS_label', 'Priority', 'Nice','Account', 'QOS', 'WCKey', 
                                            'JobState', 'Reason', 'Dependency', 'Deadline',
                                            'SuspendTime', 'SecsPreSuspend', 'Partition', 'AllocNode:Sid', 'ReqNodeList',
                                            'ExcNodeList', 'ReqB:S:C:T', 'TRES', 'Socks/Node', 'NtasksPerN:B:S:C', 'Power', 
                                            'StdOut', 'StdIn', 'StdErr', 'Comment', 'WorkDir', 'Command', 'Network',
                                            'Licenses', 'Contiguous', 'OverSubscribe', 'Reservation', 'Features', 
                                            'MinTmpDiskNode', 'MinMemoryNode', 'MinCPUsNode', 'CoreSpec', 'BatchHost',
                                            'NodeList'])
job_info_data.head()

,NaN,JobID,UserID,Requeue,Restarts,BatchFlag,Reboot,ExitCode,RunTime,TimeLimit,TimeMin,SubmitTime,EligibleTime,AccrueTime,StartTime,EndTime,LastSchedEval,NumNodes,NCPUs,NumTasks,CPUs/Task,DelayBoot
1,0.0,2021931,gramsn(50619),0,0,1,0,0:0,00:00:00,2-00:00:00,NaN,2022-06-19T07:41:59,2022-06-19T07:41:59,2022-06-19T07:41:59,2022-06-19T23:44:18,2022-06-21T23:44:18,2022-06-19T23:44:18,1,56,1,1,00:00:00
2,1.0,2021973,gramsn(50619),0,0,1,0,0:0,00:00:00,2-00:00:00,NaN,2022-06-19T07:42:11,2022-06-19T07:42:11,2022-06-19T07:42:11,2022-06-19T23:44:18,2022-06-21T23:44:18,2022-06-19T23:44:18,1,56,1,1,00:00:00
3,2.0,2021960,gramsn(50619),0,0,1,0,0:0,00:00:00,2-00:00:00,NaN,2022-06-19T07:42:07,2022-06-19T07:42:07,2022-06-19T07:42:07,2022-06-19T23:44:18,2022-06-21T23:44:18,2022-06-19T23:44:18,1,56,1,1,00:00:00
4,3.0,2021934,gramsn(50619),0,0,1,0,0:0,00:00:00,2-00:00:00,NaN,2022-06-19T07:42:00,2022-06-19T07:42:00,2022-06-19T07:42:00,2022-06-19T23:44:18,2022-06-21T23:44:18,2022-06-19T23:44:18,1,56,1,1,00:00:00
5,4.0,2021976,gramsn(50619),0,0,1,0,0:0,00:00:00,2-00:00:00,NaN,2022-06-19T07:42:12,2022-06-19T07:42:12,2022-06-19T07:42:12,2022-06-19T23:44:18,2022-06-21T23:44:18,2022-06-19T23:44:18,1,56,1,1,00:00:00

In [24]:
job_result_file = '../files/slurm_jobinfo_acct.csv'
job_result_data = pd.read_csv(job_result_file, header=None, low_memory=False)
job_result_data.columns = job_result_data.iloc[0]
job_result_data = job_result_data[1:]
job_result_data = job_result_data[['Account', 'ExitCode', 'JobID', 'Start', 'State', 'Submit', 'SystemCPU', 'UserID']]
job_result_data.head()

,Account,ExitCode,JobID,Start,State,Submit,SystemCPU,UserID
1,g2admin,0:0,2021931,2022-06-19T23:44:18,COMPLETED,2022-06-19T07:41:59,23:08.737,50619
2,g2admin,0:0,2021931.batch,2022-06-19T23:44:18,COMPLETED,2022-06-19T23:44:18,23:08.737,NaN
3,g2admin,0:0,2021932,2022-06-19T23:44:18,COMPLETED,2022-06-19T07:42:00,15:07.183,50619
4,g2admin,0:0,2021932.batch,2022-06-19T23:44:18,COMPLETED,2022-06-19T23:44:18,15:07.183,NaN
5,g2admin,0:0,2021933,2022-06-19T23:44:18,COMPLETED,2022-06-19T07:42:00,21:21.383,50619

In [29]:
job_result_data_without_batches = job_result_data[~job_result_data['JobID'].str.contains('batch')]
job_result_data_without_batches.head()

,Account,ExitCode,JobID,Start,State,Submit,SystemCPU,UserID
1,g2admin,0:0,2021931,2022-06-19T23:44:18,COMPLETED,2022-06-19T07:41:59,23:08.737,50619
3,g2admin,0:0,2021932,2022-06-19T23:44:18,COMPLETED,2022-06-19T07:42:00,15:07.183,50619
5,g2admin,0:0,2021933,2022-06-19T23:44:18,COMPLETED,2022-06-19T07:42:00,21:21.383,50619
7,g2admin,0:0,2021934,2022-06-19T23:44:18,COMPLETED,2022-06-19T07:42:00,21:17.992,50619
9,g2admin,0:0,2021935,2022-06-19T23:44:18,COMPLETED,2022-06-19T07:42:00,24:15.526,50619

In [34]:
unique_users = job_result_data_without_batches.UserID.unique()
print(unique_users.size)

147

In [35]:
uniques_state = job_result_data_without_batches.State.unique()
print(uniques_state)

['COMPLETED' 'CANCELLED by 50119' 'CANCELLED by 50456'
 'CANCELLED by 50619' 'FAILED' 'TIMEOUT' 'CANCELLED by 50665'
 'CANCELLED by 50190' 'CANCELLED by 50264' 'CANCELLED by 50625'
 'CANCELLED by 50341' 'CANCELLED by 50222' 'CANCELLED by 50636'
 'CANCELLED by 50666' 'CANCELLED by 50109' 'NODE_FAIL'
 'CANCELLED by 50667' 'CANCELLED by 50555' 'CANCELLED by 50481'
 'CANCELLED by 50688' 'CANCELLED by 50577' 'CANCELLED by 50687'
 'CANCELLED by 50102' 'CANCELLED by 50123' 'CANCELLED by 50164'
 'CANCELLED by 50501' 'CANCELLED by 50701' 'CANCELLED by 50635'
 'CANCELLED by 50390' 'CANCELLED by 50272' 'CANCELLED by 50608'
 'CANCELLED by 50693' 'CANCELLED by 50532' 'CANCELLED by 50637'
 'CANCELLED by 50294' 'CANCELLED by 50354' 'CANCELLED'
 'CANCELLED by 50674' 'CANCELLED by 50195' 'CANCELLED by 50260'
 'CANCELLED by 50600' 'CANCELLED by 50550' 'CANCELLED by 50609'
 'CANCELLED by 50498' 'CANCELLED by 50104' 'CANCELLED by 50344'
 'CANCELLED by 50631' 'CANCELLED by 50147' 'CANCELLED by 50654'
 'CANCELLED by 50313' 'CANCELLED by 50482' 'CANCELLED by 50308'
 'CANCELLED by 50430' 'CANCELLED by 50594' 'CANCELLED by 50111'
 'CANCELLED by 50339' 'CANCELLED by 50418' 'CANCELLED by 50235'
 'CANCELLED by 50671' 'CANCELLED by 50632' 'CANCELLED by 50100'
 'CANCELLED by 50050' 'CANCELLED by 50549' 'CANCELLED by 50342'
 'CANCELLED by 0' 'CANCELLED by 50220' 'CANCELLED by 50709'
 'CANCELLED by 50233' 'CANCELLED by 50012' 'CANCELLED by 50653'
 'CANCELLED by 50420' 'CANCELLED by 50661' 'CANCELLED by 50656'
 'CANCELLED by 50700' 'CANCELLED by 50287' 'CANCELLED by 50606'
 'CANCELLED by 50706' 'CANCELLED by 50442' 'CANCELLED by 50262'
 'CANCELLED by 50699' 'CANCELLED by 50655' 'CANCELLED by 50657'
 'CANCELLED by 50633' 'CANCELLED by 50502' 'CANCELLED by 50676'
 'CANCELLED by 50523' 'CANCELLED by 50544' 'CANCELLED by 50290'
 'OUT_OF_MEMORY' 'CANCELLED by 50539' 'CANCELLED by 50286'
 'CANCELLED by 50174' 'CANCELLED by 50189' 'CANCELLED by 50114'
 'CANCELLED by 50277' 'CANCELLED by 50232' 'CANCELLED by 50293'
 'CANCELLED by 50638' 'CANCELLED by 50280' 'CANCELLED by 50115'
 'CANCELLED by 50101' 'CANCELLED by 50170' 'CANCELLED by 50369'
 'CANCELLED by 50683' 'CANCELLED by 50726' 'CANCELLED by 50310'
 'CANCELLED by 50729' 'CANCELLED by 50728' 'CANCELLED by 50378'
 'CANCELLED by 50187' 'CANCELLED by 50393' 'CANCELLED by 50121'
 'CANCELLED by 50741' 'CANCELLED by 50236' 'CANCELLED by 50302'
 'CANCELLED by 50617' 'CANCELLED by 50664' 'CANCELLED by 50261'
 'CANCELLED by 50601' 'CANCELLED by 50303' 'CANCELLED by 50360'
 'CANCELLED by 50727' 'CANCELLED by 50755' 'RUNNING' 'CANCELLED by 50301'
 'CANCELLED by 50494' 'CANCELLED by 50663' 'CANCELLED by 50492'
 'CANCELLED by 50522' 'CANCELLED by 50533' 'PENDING']